@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
:root{
--bg-color : #0d3642;
--bg-color-2nd : #145564;
--alternate-color : #b7cf81;
--light-bg : white;
--dark-bg : #202020;
--icon-color : #FFDE59;
--nav-hover : rgba(0,0,0, 0.6);
--content-container : #E7EEEF;
--baby-blue :#cfeef7;
}
.bg-spotted{
    align-items: center;
    background-color:#104754;
    background-image:url('../imgs/texture.png' );
    background-size: contain;
    width: 100%;
    background-blend-mode:overlay ;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 15px;
    box-sizing: border-box;
}
.contact-form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #333;
    background-color: #cfeef7;
    border: 2px solid #b7cf81;
    border-radius: 15px;
    box-sizing: border-box;
    transition: border-color 0.5s, box-shadow 0.5s;
}
.contact-form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}
.contact-form-control:disabled {
    background-color: #e9ecef;
    cursor: not-allowed;
}
.contact-form {
display: flex;
flex-direction: column;
justify-content: center;
width: 70%;
margin: 20px auto;
}
.contact-form input,
.contact-form textarea{
    border: 2px solid #ccc;
    transition: border-color 0.5s ease; 
    margin-bottom: 8px ;
    width: 100%;
}
.contact-form textarea{
    resize: none;
    height: 180px !important;
}
.contact-form input:not([type='submit']) +i {
    height: 0;
    float: left;
    position: relative;
    top: -35px;
    left: 10px;
    color:#202020;
}
.contact-form input{
    padding-left: 36px;
}

.contact-form .alert-box {
    display: none;
    position: relative;
    background: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 10px;
    margin-top: 7.5px;
    margin-bottom: 5px;
    border-radius: 15px;
}
.contact-form .alert-box .alert-text {
    font-size: 16px;
    max-width: 80%;
    display: inline-block;
}
.contact-form .alert-box .close-alert {
    background: transparent;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: #721c24;
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}

.submit-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: transparent;
    color: var(--bg-color);
    text-align: center;
    border: 2px solid var(--bg-color) !important;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s, border-radius 0.5s, border-color 0.5s !important;
}
.submit-btn:hover {
    border-radius: 20px;
    background-color: var(--bg-color);
    color: white;
    border-color: var(--bg-color);
}

.contact-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: 10vh;
    margin-bottom: 2.5vh;
    text-align: center;        
}
.contact-title-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0;
    width: 90vw;
}
.divider-contact{
    height: 1vh;
    width: 30vw;
    background-color: #0d3642;
    transition: 0.5s;
}
.contact-top h1{
    font-size: clamp(2.15rem, 1vmin, 8vh);
    display: inline-flex;
    color: #0d3642;
    -webkit-text-stroke-width: clamp(0vw,0vw,0vw);
    text-transform: uppercase;
}
.contact-top h1 span{
    -webkit-text-stroke-color: #0d3642;
    -webkit-text-stroke-width: clamp(0.0625vw,0.0875vw,0.75vw);
    color: #b7cf81;
}

@media (max-width: 480px){
    .contact-form {
    width: 100%;
    }
    .contact-form .alert-box .alert-text {
        max-width: 80%;
        font-size: 3.5vw;
        display: inline-block;
    }
    .contact-top h1{
        font-size: clamp(1.15rem, 0.75vmin, 7.5vh);
    }
}
@media (max-width: 767px){
    .contact-form {
    width: 85%;
    }
}