/* Root and themes itemes */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@300&family=Rubik:wght@400;500;700&display=swap");
:root{
--bg-color : #0d3642;
--bg-color-2nd : #145564;
--alternate-color : #b7cf81;
--light-bg : white;
--dark-bg : #202020;
--icon-color : #FFDE59;
--nav-hover : rgba(0,0,0, 0.6);
--content-container : #E7EEEF;
}
.landing{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 125px);
}
.land-fig{
  height: 30vh;
  display: flex;
  justify-content: center;
}
.land-fig img {
  min-width: 275px;
  width: 30vw;
  height: 30vh;
  object-fit: cover;
}
.land-about{
  height: 30vh;
  padding-bottom: 2.5vh;
  width: 100%;
  text-align: center;
  align-content: end;
}
.land h3{
  color: var(--bg-color);
}
.land-welcome{
  font-size: 3.5vw;
  font-weight: bold;
  color: var(--bg-color);
  text-transform: uppercase;
}
.land-2nd-line{
  font-size: 2vw;
  color: var(--bg-color);
}
.A-litter,.Z-litter {
  color: var(--alternate-color);
  font-size: 2.5vw;
  -webkit-text-stroke-color: var(--bg-color);
  -webkit-text-stroke-width: 0.1vw;
  transition: 0.5s;
}
.A-litter:hover,.Z-litter:hover {
  color: var(--bg-color);
  font-size: 2.5vw;
  -webkit-text-stroke-color: var(--bg-color);
  -webkit-text-stroke-width: 0.1vw;
}
.land-info{
  font-size: 2vw;
  font-weight: bold;
  color: var(--bg-color);
  transition: 0.5s;
}
.land-info:hover{
  font-size: 2vw;
  font-weight: bold;
  color: var(--alternate-color);
}
.land-links{
  height: 7.5vh;
  margin-bottom: 1.5vh;
}
.land-btns{
  height: calc(40vh - 125px);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5%;
}
.land-btn{
  background-color: #0d364200;
  width: 22.5%;
  height: 50px;
  min-width: 100px;
  border-radius: 15px;
  border-color: var(--bg-color);
  border-style: solid;
  color: var(--bg-color);
  font-weight: 600;
  cursor: pointer;
  transition: 0.25s;
}
.land-btn:hover{
  box-shadow: 1px 1px 10px #555;
  background-color: var(--bg-color);
  border-radius: 25px;
  color: #fafafa;  
}

@media (max-width: 767px) {
  .landing {
    height: calc(100vh - 125px);
  }
  .land-fig {
    height: 25vh;
  }
  .land-about {
    height: 30vh;
    position: relative;
    top: -2.5vh;
    padding-bottom: 5vh;
  }
  .land-btns {
    height: 20vh;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    position: relative;
    gap: 2.5vh;
  }
  .land-btn {
    width: 70%;
    margin-left: 15%;    
  }
  .land-welcome {
    font-size: clamp(4vw, 5vw, 6vw);
    font-weight: bold;
    color: var(--bg-color);
    text-transform: uppercase;
  }
  .land-2nd-line {
    font-size: clamp(3.5vw, 4.5vw, 5.5vw);
    color: var(--bg-color);
  }
  .A-litter, .Z-litter {
    color: var(--alternate-color);
    font-size: clamp(3.5vw, 4.5vw, 6vw);
    -webkit-text-stroke-color: var(--bg-color);
    -webkit-text-stroke-width: 0.2vw;
    transition: 0.5s;
  }
  .A-litter:hover, .Z-litter:hover {
    color: var(--bg-color);
    font-size: clamp(3.5vw, 4.5vw, 6vw);
    -webkit-text-stroke-color: var(--bg-color);
    -webkit-text-stroke-width: 0.2vw;
  }
  .land-info {
    font-size: clamp(2vw, 3vw, 4vw);
    font-weight: bold;
    color: var(--bg-color);
    transition: 0.5s;
  }
  .land-info:hover {
    font-size: clamp(2vw, 3vw, 4vw);
    font-weight: bold;
    color: var(--alternate-color);
  }
}
@media (max-width: 767px) and (min-height: 700px){
  .land-btns{
    position: relative;
    top: -5vh;
  }
}
@media (max-width: 900px) and (min-height: 700px) {
  .landing {
    height: calc(100vh - 175px);
  }
  .land-fig {
    height: calc(37.5vh - 60px);
    position: relative;
    top: -5vh;
  }
  .land-fig img {
    height: 40vh;
    width: 40vh;
  }
  .land-about {
    height: calc(37.5vh - 60px);
    position: relative;
    top: -5vh;
    padding-bottom: 0;
  }
  .land-btns {
    height: calc(25vh - 60px);
    gap: 2.5vh;
  }
  .land-welcome {
    font-size: clamp(6vw, 7vw, 8vw);
  }
  .land-2nd-line {
    font-size: clamp(5vw, 6.5vw, 7.5vw);
  }
  .A-litter, .Z-litter {
    font-size: clamp(5vw, 6.5vw, 8vw);
  }
  .A-litter:hover, .Z-litter:hover {
    font-size: clamp(5vw, 6.5vw, 8vw);
  }
  .land-info {
    font-size: clamp(3.5vw, 4.5vw, 5.5vw);
  }
  .land-info:hover {
    font-size: clamp(3.5vw, 4.5vw, 5.5vw);
  }
}
@media (min-width:900px) and (max-width: 1024) and (max-height:1400px){
  .landing {
    height: calc(100vh - 175px);
  }
  .land-fig {
    height: calc(37.5vh - 60px);
    position: relative;
    top: -5vh;
  }
  .land-fig img {
    height: 40vh;
    width: 40vh;
  }
  .land-about {
    height: calc(37.5vh - 60px);
    position: relative;
    top: -5vh;
    padding-bottom: 0;
  }
  .land-btns {
    height: calc(25vh - 60px);
    display: flex;
    flex-direction: column;
    gap: 2.5vh;
  }
  .land-btn{
    width: 50vw;
    font-size: large;
  }
  .land-welcome {
    font-size: clamp(6vw, 7vw, 8vw);
  }
  .land-2nd-line {
    font-size: clamp(5vw, 6.5vw, 7.5vw);
  }
  .A-litter, .Z-litter {
    font-size: clamp(5vw, 6.5vw, 8vw);
  }
  .A-litter:hover, .Z-litter:hover {
    font-size: clamp(5vw, 6.5vw, 8vw);
  }
  .land-info {
    font-size: clamp(3.5vw, 4.5vw, 5.5vw);
  }
  .land-info:hover {
    font-size: clamp(3.5vw, 4.5vw, 5.5vw);
  }
}
@media (max-width: 275px){
  .land-fig {
    display: none;
  }
  .land-about {
    height: 42.5vh;
  }
  .land-btns{
    height: 32.5vh;
  }
}