body{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth !important;
}

.test-color{
<<<<<<< HEAD
    background:url('imgs/texture.jpg'),#0d3642;
    background-blend-mode:saturation;
    color: white;
=======
    background-image:url('../imgs/texture.jpg');
    background-color: #0d3642;
    background-blend-mode:overlay;
}

nav{
    max-height: 85px;
    border-radius: 0px 0px 20px 20px;
    list-style-type: none;
    text-align: center;
    width: 100%;
    height: 10%;
    margin: 0;
    padding: 0;
    display: flex !important;
}

.logo{
    background-repeat: no-repeat;
padding: 10px 10px 10px 120px;
text-align: left !important;

display: inline-block;
}

.logo-text{
    color:white;
    font-size: 25px;
    font-weight: 600;
    display:inline-block;
    padding: 30px 0px !important;
    text-transform: capitalize;
}
nav div ul{
    padding-left: 550px !important; 
}
nav div li{
    color: #ffffff !important;
    font-size: 18px !important;
    font-weight: bold !important;
    padding: 10px 8px;
    margin-top:2% !important;
    display: inline-block !important;
    list-style:none !important;
>>>>>>> 8fd8b00ee3e629d8b1f1d4f4527fb9b458482462
}