/* Root and themes itemes */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
:root{
--bg-color : #0d3642;
--bg-color-2nd : #145564;
--alternate-color : #b7cf81;
--light-bg : white;
--dark-bg : #202020;
--icon-color : #FFDE59;
--nav-hover : rgba(0,0,0, 0.6);
--content-container : #E7EEEF;
--baby-blue :#cfeef7;
}
a{
  text-decoration: none;
}
img {
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  pointer-events: none;
}
html{
  background-color: var(--light-bg);
}
body{
  background-color: var(--light-bg);
  font-family: "Quicksand", serif;
  scroll-behavior: smooth;
  -webkit-user-select: none;
  user-select: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  overflow: hidden; 
  touch-action: none;
}
body:focus{
  outline: none;
}
.bg-spotted{
  align-items: center;
  background-image:url('../imgs/texture.jpg');
  background-color: var(--bg-color);
  background-blend-mode:overlay;
}
.content-style-preview{
  transform: scale(0.8);
  opacity: 0.8;
  transition: transform 0.5s ease, opacity 0.5s ease;
}
.content-style-preview.active{
  transform: scale(1);
  opacity: 1;
}
.div-l-style-preview{
  transform: scale(0.8);
  opacity: 0.8;
  border-radius: 50px 50px 50px 50px;
  margin-right: 50vw;
  transition: transform 1s ease, opacity 1s ease;
}
.div-r-style-preview{
  transform: scale(0.8);
  opacity: 0.8;
  border-radius: 50px 50px 50px 50px;
  margin-left: 50vw;
  transition: transform 1s ease, opacity 1s ease;
}
.div-l-style-preview.active, .div-r-style-preview.active {
  transform: scale(1);
  opacity: 1;
}
.div-r-style-preview.active{
  margin-left: 10vw;
}
.div-l-style-preview.active{
  margin-right: 10vw;
}
.section-title{
  text-transform: uppercase;
  font-weight: bold;
  color: var(--alternate-color);
  -webkit-text-stroke-color: var(--bg-color);
  -webkit-text-stroke-width: clamp(0.07vw,0.09vw,0.09vw);
  font-size: clamp(1.25rem, 5vw, 2.5rem);
  transition: 0.5s;
  text-align: start;
  opacity: 0;
  transition: 0.5s;
}
.section-title.active{
  text-align: center;
  opacity: 1;
}

/* Scroll button */
.progress-wrap {
position: fixed;
right: 15px;
bottom: 15px;
height: 48px;
width: 48px;
cursor: pointer;
display: block;
border-radius: 48px;
box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.2);
background-color: var(--alternate-color);
padding: 1PX;
z-index: 10;
opacity: 0;
visibility: hidden;
transform: translateY(15px);
-webkit-transition: all 200ms linear;
transition: all 200ms linear;
}
.progress-wrap.active-progress {
opacity: 1;
visibility: visible;
transform: translateY(0);
}
.progress-wrap::after {
position: absolute;
font-family: 'Font Awesome 5 Free';
font-weight: 900;
content: '\f062';
text-align: center;
line-height: 48px;
font-size: 18px;
color: var(--bg-color-2nd);
left: 1px;
top: 1px;
height: 48px;
width: 48px;
cursor: pointer;
display: block;
z-index: 1;
-webkit-transition: all 200ms linear;
transition: all 200ms linear;
}
.lightScrollIcon::after {
color: #ecedf3 !important;
}
.progress-wrap:hover::after {
opacity: 0;
}
.progress-wrap::before {
position: absolute;
font-family: 'Font Awesome 5 Free';
font-weight: 900;
content: '\f062';
text-align: center;
line-height: 48px;
border-radius: 48px;
font-size: 18px;
opacity: 0;
background-color: rgba(255, 255, 255, 0.5);
-webkit-text-fill-color: var(--alternate-color);
left: 1px;
top: 1px;
height: 48px;
width: 48px;
cursor: pointer;
display: block;
z-index: 2;
-webkit-transition: all 200ms linear;
transition: all 200ms linear;
}
.progress-wrap:hover::before {
opacity: 1;
}
.progress-wrap svg path {
fill: none;
}
.progress-wrap svg.progress-circle path {
stroke: var(--bg-color-2nd);
stroke-width: 4.5px;
box-sizing: border-box;
-webkit-transition: all 200ms linear;
transition: all 200ms linear;
}

/* Header overlay menu */
.menu-icon {
  position: absolute;
  top: 40px;
  right: 20px;
  width: 30px;
  height: 18.5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  transition: transform 0.3s ease;
}
.menu-icon span {
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--light-bg);
  border-radius: 2px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.menu-icon.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.menu-icon.open span:nth-child(2) {
  transform: rotate(-45deg) translate(5px, -5px);
}
.menu-icon span:nth-child(1) {
  transform-origin: center;
}
.menu-icon span:nth-child(2) {
  transform-origin: center;
}
.overlay {
  overflow-y: hidden;
  touch-action: none;
  height: 0;
  border-radius: 20px 20px 0px 0px;
  margin-right: 7.5px;
  width: calc(100% - 15px);
  margin-left: 7.5px;
  position: fixed;
  z-index: 1000;
  bottom: 0;
  left: 0;
  background-color: rgba(20, 85, 100, 0.8);
  overflow-x: hidden;
  transition: height 0.5s ease;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
.overlay-content {
position: relative;
top: 25%;
width: 100%;
text-align: center;
margin-top: 30px;
font-weight: bold;
}
.overlay a {
padding: 8px;
text-decoration: none;
font-size: 30px;
color: var(--light-bg);
display: block;
transition: 0.3s;
}
.overlay a:hover ,.toggle-open:hover, .overlay a:focus {
color: var(--dark-bg);
}

/* Preloader */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(25px);
  flex-direction: column;
  
}
#logo-container {
  position: relative;
  width: 150px;
  height: auto;
  text-align: center;
}
#logo {
  width: 100%;
  height: auto;
  scale: 75%;
  object-fit: contain;
  clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
  animation: revealLogo 0.75s ease-out forwards;
}
#tagline {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: var(--alternate-color);
  opacity: 1;
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  margin-left: -11px;
  animation: typing 2s steps(50, end) 0.5s forwards;
  margin-top: -5px;
}
@keyframes revealLogo {
  to {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}
@keyframes typing {
  to {
     width: calc(100% + 22px);
  }
}

/* Header and nav */
.float-navbar{
position: sticky;
top: 0;
background-color: var(--light-bg);
overflow: hidden;
padding-top: 7.5px;
margin-top: -7.5px;
padding-bottom: 0px !important;
z-index: 1000;
}
.container-top{
  background-color: rgba(20, 85, 100, 0.1) !important;
}
nav{
  max-height: 85px;
  min-height: 85px;
  border-radius: 20px 20px 20px 20px;
  list-style-type: none;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
}
.logo{
  background-repeat: no-repeat;
  padding: 0% 12.5% 0% 5%;
  margin-bottom: -3.5px;
  text-align: left;
  display: inline-block;
}
.logo-text{
  color: var(--light-bg);
  font-size: 22.5px;
  font-weight: bold;
  display:inline-block;
  padding: 0px;
  margin-left: -10%;
  text-transform: capitalize;
}
.btn {
  background-color: #fff;
  width: 50px;
  height: 25px;
  border-radius: 12.5px;
  padding: 0 2.5px;
  box-shadow: inset 0 8px 60px rgba(0, 0, 0, .1), inset 0 8px 8px rgba(0, 0, 0, .1), inset 0 -4px 4px rgba(0, 0, 0, .1);
  position: absolute;
  margin-left: 32%;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.btn__indicator {
  background-color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  box-shadow: 0 8px 40px rgba(0,0,0, .2);
  transition: transform .3s ease;
}
.btn__icon-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2px 0 0 0.2px;
}
.btn__icon {
  color: var(--icon-color);
  font-size: 15px;
  margin-top: 1px;
}
.darkmode {
  color: #fff;
}
.darkmode .btn__indicator {
  transform: translateX(30px);
  background-color: var(--bg-color);
}
.darkmode .btn__icon {
  color: var(--alternate-color);
}
nav div ul{
  position: absolute;
  right: 10%;
  top: 3.5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav div li{
  display: inline-block;
  list-style:none;
  min-width: max-content;
  margin-right: 15%;
  transition: 5ms;
  background-color: rgba(150, 150, 150, 0);
}
nav div li :hover{
  background-color: var(--nav-hover);
  cursor: pointer;
}
nav div li a {
  color: var(--light-bg) ;
  font-size: 100%;
  font-weight: bold;
  min-width: 100%;
  padding: 5px 10px 5px 10px;
  border-radius: 12.5px;
}

/* Container & Content */
.content-container-upper{
  height: 25px;
  border-radius: 25px 25px 0 0;
  margin-top: 7.5px;
  margin-bottom: 0px;
  background-color: var(--content-container);

}
.content-container-frame{
  padding: 0.5px 25px 25px 25px;
  margin-top: -0.5px;
  border-radius: 0px 0px 25px 25px;
  height: auto;
  min-height: calc(var(--vh, 75vh) - 25vh - 165px);;
  transition: height 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--content-container);
}
.divider-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0;
}
.divider{
  height: 1vh;
  width: 40vw;
  background-color: var(--bg-color);
  transition: 0.5s;
}

/* footer logo & lable text */
footer{
  position: static;
  margin-top: 7.5px;
  height: 25vh;
  min-height: 85px;
  border-radius: 25px;
}
.footer {
  display: grid;    
  align-items: center;
  justify-content: stretch;
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
}
.footer-head{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.sign-link-l{
position: absolute;
left: 5%;
width: 20vw;
height: 10.615vw;
margin-top: -1vh;
cursor: pointer;
}
.signture-l{
position: absolute;
left: 5%;
width: 20vw !important;
height: auto !important;
}
.sign-link-r{
  position: absolute;
  right: 5%;
  width: 20vw;
  height: 10.615vw;
  margin-top: -1vh;
  cursor: pointer;
  }
.signture-r{
  width: 20vw !important;
  height: auto !important;
}
.footer-brand{
  display: flex;
  justify-content: center;
}
.footer-brand img {
  display: block;
  width: 75px;
  height: 75px;
}
.footer-lable{
  color: var(--light-bg);
  align-self:first baseline;
  font-weight: 600;
  font-size: 25px;
  margin-top: 5px;
  margin-left: 10px;
  transition-duration: 0.5s;
}
.footer-lable:hover{
  color: var(--alternate-color);
}
.ul-social {
  margin-left: 47%;
  margin-top: -40px;
}
.social-icon {
 fill: var(--light-bg);
 transition-duration: 0.5s;
}
.social-icon:hover {
  fill: var(--alternate-color);
}
.footer-copyright {
  color: var(--light-bg);
  text-align: center;  
  font-size: 16px;
  margin-top: 40px;
  margin-bottom: -20px;
}

/* @meadia Queries */
@media (max-width: 220px){
  .btn{
    display: none !important;
  }
}
@media (max-width:330px){
  .logo-text{
    display: none;
  }
  nav div ul{
    display: none;
  }
  .btn{
    right: 25%;
  }
  .toggle-open{
      font-size:35px;
      cursor:pointer;
      font-weight: bold;
      color: var(--light-bg);  
      margin-top: 0px;
      margin-right: 0%;
      position: absolute;
      right: 7.5%;
      display: flex;
    }
  #progress-wrap{
    display: none;
  }
  .divider-container{
    display: none;
  }
  .footer {
    display: grid;
    align-items: center;
    justify-content: stretch;
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;
  }
  .footer-brand img{
    width: 50px;
    height: 50px;
  }
  .footer-lable{
    font-size: 14px;
  }
  .footer-social {
    align-self: center;
  }
  .ul-social{
    margin-left: 55px;
  }
  .footer-social svg{
    width: 16px;
    margin-top: 14px;
  }  
  .footer-copyright {
    font-size: 8px;
  }
}
@media (max-height:667px){
  .divider-container{
    margin-top: 10vh;
  }
  #portofolio-container, #services{
    padding-top: 10vh;
  }
}
@media (max-height:467px){
  .divider-container{
    display: none;  
  }
  #portofolio-container, #services{
    padding-top: 20vh;
  }
}
@media (min-width:330px) and (max-width:767px) {
  nav{
    width: 100%;
  }
  nav div ul{
    padding: 0;
  }
  .logo{
    width: 15%;
    padding-left: 2.5%;
  } 
  .logo img {
    scale: 70%;
  }
  .logo-text {
    font-size: 15px;
    margin-left: -5%;
    margin-top: 0px;
  }
  .nav-items{
    display: none;
  }
  .btn{
    right: 17.5%;
  }
  .footer {
    display: grid;
    align-items: center;
    justify-content: stretch;
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;
  }
  .footer-brand img{
    width: 55px;
    height: 55px;
  }
  .footer-lable{
    font-size: 16px;
  }
  .footer-social {
    align-self: center;
  }
  .ul-social{
    margin-left: 60px;
  }
  .footer-social svg{
    width: 18px;
    margin-top: 12px;
  }
  .footer-copyright {
    font-size: 10px;
  }
}
@media (max-width:1024px) and (min-width:767px) {
  nav{
    width: 100%;
  }
  .logo{
    width: 15%;
    padding-left: 1.5%;
  } 
  .logo img {
    scale: 90%;
  }
  .logo-text {
    font-size: 20px;
    margin-top: 0px;
  }
  .nav-items{
    display: none;
  }
  .btn {
    right: 10% !important;
  }
  .footer {
    display: grid;
    align-items: center;
    justify-content: stretch;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
  }
  .ul-social{
    margin-left: 45.5%;
  }
  .footer-lable{
    font-size: 22.5px;
  }
  .footer-copyright {
    font-size: 12px;
  }
}
@media (width:1024px){
  .ul-social{
    margin-left: 45.5%;
  } 
  .footer-lable{
    font-size: 22.5px;
  }
}
@media (min-width: 1025px){
  .menu-icon{
    display: none;
  }
}
