body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s ease, visibility 0.4s ease;
}

.popup {
    width: 80%;
    height: 70vh;
    background: #0d3642;
    backdrop-filter: blur(20px);
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    position: relative;
    transform: scale(0.8);
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0;
    overflow: auto;
    text-align: center; /* إضافة الـ scroll عند الحاجة */
}
.popup img {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    margin: 10px;
}

.popup-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    background: rgba(255, 0, 0, 0.8);
    color: white;
    border: none;
    padding: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
    font-weight: bold;
    font-size: 18px;
    transition: background 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.close-btn:hover {
    background: rgba(255, 0, 0, 1);
    transform: scale(1.2);
}

.overlay.show {
    visibility: visible;
    opacity: 1;
}

.overlay.show .popup {
    transform: scale(1);
    opacity: 1;
}
