.overlayer {
    overflow-y: hidden;
    overflow-x: hidden;
    border-radius: 25px 25px 0px 0px;
    margin: 7.5px 7.5px 0px 7.5px !important;
    position: fixed;
    z-index: 1000;
    bottom: 0;
    top: 0;
    left: 0;
    width: calc(100% - 15px) !important;    
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(25px);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}
.popup {
    width: calc(75% - 15px) !important;
    height: 75vh;
    background: #0d36428d;
    backdrop-filter: blur(25px);
    border-radius: 25px;
    padding: 1vh 1vw 1vh 1vw;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    position: relative;
    transform: scale(0.8);
    transition: transform 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    overflow: auto;
    text-align: center;
}
.popup-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.close-btn {
    position:sticky; 
    left :100%;
    z-index:999999;
    top: 1vh;
    right: 1vw;
    background: rgba(255, 0, 0, 0.4);
    color: white;
    border: none;
    width: 2.5vw;
    height: 2.5vw;
    cursor: pointer;
    border-radius: 50%;
    font-weight: bold;
    font-size: 1.25vw;
    transition: background 0.5s ease-in-out, transform 0.5s ease-in-out;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.close-btn:hover {
    background: rgba(255, 0, 0, 1);
    transform: scale(1.2);
}
.overlayer.show {
    visibility: visible;
    opacity: 1;
}
.overlayer.show .popup {
    transform: scale(1);
    opacity: 1;
}
.next-btn,.prev-btn{
    position: absolute;
    display: flex;
    border: 0px;
    border-radius: 50%;
    width: 2vw;
    height: 2vw;
    padding: 0;
    font-size: 1.25vw;
    font-weight: bold;
    color: var(--bg-color);
    border: 2.5px var(--alternate-color) solid;
    background-color: var(--alternate-color);
    justify-content: center;
    transition: 0.5s ease-in-out;
}
.next-btn:hover, .prev-btn:hover{
    border: 2.5px var(--alternate-color) solid;
    color: var(--alternate-color);
    background-color: var(--bg-color);
}
.next-btn{
    top: 50%;
    right: 2.5%;
}
.prev-btn{
    top: 50%;
    left: 2.5%;
}

.carousel {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  font-family: Arial;
}
.carousel-list {
  display: flex;
  list-style: none;
  position: relative;
  top: 7.5vh;
  width: 100%;
  height: 80%;
  align-content: baseline;
  justify-content: center;
  perspective: 80%;
}
.carousel-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 52.5vh;
    border-radius: 25px;
    box-shadow: 0 10px 20px rgb(183, 207, 129, 0.75);
    background-color: var(--bg-color);
    border: rgb(183, 207, 129, 0.75) solid 2.5px;
    position: absolute;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out, filter 0.5s ease-in-out;
}
.carousel-item[data-pos="0"] {
    transform: translateX(0) scale(1);
    opacity: 1;
    filter: none;
    z-index: 5;
}
.carousel-item[data-pos="-1"], .carousel-item[data-pos="1"] {
    opacity: 0.7;
    filter: blur(6.25px) grayscale(10%);
    z-index: 4;
}
.carousel-item[data-pos="-1"] {
    transform: translateX(calc(-40% + 5px)) scale(0.9);
}
.carousel-item[data-pos="1"] {
    transform: translateX(calc(40% - 5px)) scale(0.9);
}
.carousel-item[data-pos="-2"], .carousel-item[data-pos="2"] {
    opacity: 0.4;
    filter: blur(12.5px) grayscale(20%);
    z-index: 3;
}
.carousel-item[data-pos="-2"] {
    transform: translateX(calc(-70% + 10px)) scale(0.8);
}
.carousel-item[data-pos="2"] {
    transform: translateX(calc(70% - 10px)) scale(0.8);
}

.carousel-item-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 1vw 1vh 1vw;
    background: hsla(0, 0%, 100%, 0.25);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    text-align: center;
    height: 85%;
    width: 85%;
    box-sizing: border-box;
}
.carousel-item-container .carousel-img {
    position: relative;
    top: -35%;
    height: 65%;
    width: auto;
    box-shadow: 0 5px 25px rgb(183, 207, 129, 0.75);
    border-radius: 25px;
}
.carousel-item-container h2 {
    margin: 0;
    padding: 0;
    position: relative;
    top: -30%;
    height: 10%;
    font-size: 1.5vw;
    font-weight: bold;
    color: #ddd;
}  
.service-features {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
    top: -25%;
    height: 50%;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}
.service-features li {
    font-size: 1.15vw;
    color: #ccc;
} 
.service-price {
    height: 10%;
    position: relative;
    top: -15%;
    font-size: 1.5vw;
    color: var(--alternate-color);
    font-weight: bold;
}
.learn-more-btn {
    position: absolute;
    bottom: -2.5vh;
    padding: 1vh 2vw;
    background: var(--bg-color);
    border-radius: 25px;
    color: var(--alternate-color);
    border: 2.5px rgb(183, 207, 129, 0.75) solid;
    cursor: pointer;
    font-size: 1vw;
    transition: 0.5s ease-in-out;
}  
.learn-more-btn:hover {
    box-shadow: 0 5px 10px rgb(183, 207, 129, 0.75);
    background: var(--alternate-color);
    color: var(--bg-color);
}

@media (min-width: 320px) and (max-width: 480px) {
    .popup {
        width: calc(90% - 15px) !important;
        height: 45vh;
    }
    .close-btn {
        width: 25px;
        height: 25px;
        margin-right: 5px;
        border-radius: 50%;
        font-size: 1rem;
    }
    .next-btn , .prev-btn{
        display: none;
    }
    .carousel {
        width: 100%;
        height: 100%;
      }
    .carousel-list {
        top: 2.5vh;
        width: 70%;
        height: 40%;
        perspective: 40%;
    }
    .carousel-item {
        width: 80%;
        height: 30vh;
    }
    .carousel-item[data-pos="-1"], .carousel-item[data-pos="1"] {
        opacity: 0.7;
        filter: blur(3px) grayscale(10%);
        z-index: 4;
    }
    .carousel-item[data-pos="-1"] {
        transform: translateX(calc(-15% + 5px)) scale(0.9);
    }
    .carousel-item[data-pos="1"] {
        transform: translateX(calc(15% - 5px)) scale(0.9);
    }
    .carousel-item[data-pos="-2"], .carousel-item[data-pos="2"] {
        opacity: 0.4;
        filter: blur(6px) grayscale(20%);
        z-index: 3;
    }
    .carousel-item[data-pos="-2"] {
        transform: translateX(calc(-30% + 10px)) scale(0.8);
    }
    .carousel-item[data-pos="2"] {
        transform: translateX(calc(30% - 10px)) scale(0.8);
    }
    .carousel-item-container {
        padding: 1vh 1vw 1vh 1vw;
        height: 85%;
        width: 85%;
    }
    .carousel-item-container .carousel-img {
        position: relative;
        top: -35%;
        height: 65%;
        width: auto;
    }
    .carousel-item-container h2 {
        position: relative;
        top: -30%;
        height: 10%;
        font-size: 3.75vw;
    }  
    .service-features {
        position: relative;
        top: -25%;
        height: 50%;
        width: 100%;
    }
    .service-features li {
        font-size: 2.5vw;
    } 
    .service-price {
        height: 10%;
        position: relative;
        top: -15%;
        font-size: 3.75vw;
    }
    .learn-more-btn {
        position: absolute;
        bottom: -2.5vh;
        padding: 0.75vh 2.5vw;
        font-size: 3.75vw;

    }  
} /*done*/

@media (min-width: 480px) and (max-width: 768px) {
    
}

@media (max-width: 767.98px) {
    
}

@media (min-width: 768px) and (max-width: 991.98px) {
    
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    
}

@media (min-width: 1200px) {
    
}