.overlayer {
    overflow-y: hidden;
    overflow-x: hidden;
    border-radius: 25px 25px 0px 0px;
    margin: 7.5px 7.5px 0px 7.5px !important;
    position: fixed;
    z-index: 1000;
    bottom: 0;
    top: 0;
    left: 0;
    width: calc(100% - 15px) !important;    
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(25px);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}
.popup {
    width: calc(70% - 15px) !important;
    height: 70vh;
    background: #0d36428d;
    backdrop-filter: blur(25px);
    border-radius: 25px;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    position: relative;
    transform: scale(0.8);
    transition: transform 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    overflow: auto;
    text-align: center;
}
.popup img {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    margin: 10px;
}
.popup-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-right: 4px;
}
.close-btn {

    position:sticky; left :100%;z-index:999999;
    top: 20px;
    right: 15px;
    background: rgba(255, 0, 0, 0.4);
    color: white;
    border: none;
    padding: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
    font-weight: bold;
    font-size: 18px;
    transition: background 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.close-btn:hover {
    background: rgba(255, 0, 0, 1);
    transform: scale(1.2);
}
.overlayer.show {
    visibility: visible;
    opacity: 1;
}
.overlayer.show .popup {
    transform: scale(1);
    opacity: 1;
}



.carousel {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  font-family: Arial;
}
.carousel-list {
  display: flex;
  list-style: none;
  position: relative;
  width: 100%;
  height: 300px;
  justify-content: center;
  perspective: 300px;
}
.carousel-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 60vh;
    border-radius: 25px;
    box-shadow: 0 10px 20px rgb(183, 207, 129, 0.75);
    background-color: var(--bg-color);
    border: var(--alternate-color) solid 2.5px;
    position: absolute;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out, filter 0.5s ease-in-out;
}
.carousel-item[data-pos="0"] {
    transform: translateX(0) scale(1);
    opacity: 1;
    filter: none;
    z-index: 5;
}
.carousel-item[data-pos="-1"], .carousel-item[data-pos="1"] {
    transform: translateX(calc(-40% + 5px)) scale(0.9);
    opacity: 0.7;
    filter: blur(1px) grayscale(10%);
    z-index: 4;
}
.carousel-item[data-pos="-1"] {
    transform: translateX(calc(-40% + 5px)) scale(0.9);
}
.carousel-item[data-pos="1"] {
    transform: translateX(calc(40% - 5px)) scale(0.9);
}
.carousel-item[data-pos="-2"], .carousel-item[data-pos="2"] {
    transform: translateX(calc(-70% + 10px)) scale(0.8);
    opacity: 0.4;
    filter: blur(3px) grayscale(20%);
    z-index: 3;
}
.carousel-item[data-pos="-2"] {
    transform: translateX(calc(-70% + 10px)) scale(0.8);
}
.carousel-item[data-pos="2"] {
    transform: translateX(calc(70% - 10px)) scale(0.8);
}
.next-btn,.prev-btn{
    position: absolute;
    display: flex;
    border: 0px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 0;
    font-size: 30px;
    font-weight: bold;
    color: var(--bg-color);
    background-color: var(--alternate-color);
    justify-content: center;
    transition: 0.5sease-in-out;
}
.next-btn:hover, .prev-btn:hover{
    color: var(--alternate-color);
    background-color: var(--bg-color);
}
.next-btn{
    top: 50%;
    right: 2.5%;
}
.prev-btn{
    top: 50%;
    left: 2.5%;
}


.carousel-item-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: hsla(0, 0%, 100%, 0.5);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    text-align: center;
    height: 90%;
    width: 90%;
    box-sizing: border-box;
  }
  
  .carousel-item-container img {
    width: 100%;
    max-width: 150px;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  
  .carousel-item-container h2 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
  }
  
  .service-description {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 10px;
  }
  
  .service-features {
    list-style-type: none;
    padding: 0;
    margin-bottom: 5px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
  }
  
  .service-features li {
    font-size: 0.9rem;
    color: #444;
    margin-bottom: 5px;
  }
  
  .service-price {
    font-size: 1.1rem;
    color: #2d35eb;
    font-weight: bold;
    margin-bottom: 7.5px;
  }
  
  .learn-more-btn {
    padding: 10px 20px;
    background: var(--alternate-color);
    border-radius: 25px;
    color: #fff;
    border: 2.5px var(--alternate-color) solid;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.3s ease-in-out;
  }
  
  .learn-more-btn:hover {
    background: var(--bg-color);
  }
  
  












/* OLD STYLE */
.popup-content .nft {
    user-select: none;
    max-width: 300px;
    margin: 5rem auto;
    border: 1px solid #ffffff22;
    background-color: #282c3400;
    background: linear-gradient(0deg, rgba(40, 44, 52, 0) 0%, rgba(17,0,32,.5) 100%);
    box-shadow: 0 7px 20px 5px rgba(0, 0, 0, 0.5);
    border-radius: 0.7rem;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    overflow: hidden;
    transition: 0.5s all;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.popup-content .nft:hover,
.popup-content .nft:active {
    border: 1px solid #ffffff44;
    box-shadow: 0 7px 50px 10px #000000aa;
    transform: scale(1.015);
    filter: brightness(1.2);
}
.popup-content .nft:active::before {
    filter: brightness(.5);
    top: -100%;
    left: 200%;
}
.popup-content .nft .main {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 1rem;
    align-items: center;
}
.popup-content .nft .tokenImage {
    border-radius: 0.5rem;
    max-width: 100%;
    height: 250px;
    object-fit: cover;
    transition: transform 0.3s ease;
}
.popup-content .nft:hover .tokenImage {
    transform: scale(1.1);
}
.popup-content .nft .description {
    margin: 0.5rem 0;
    color: #a89ec9;
    font-size: 0.9rem;
    text-align: center;
}
.popup-content .nft .tokenInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    width: 100%;
}
.popup-content .nft .price,
.popup-content .nft .duration {
    display: flex;
    align-items: center;
}
.popup-content .nft .price {
    color: #ee83e5;
    font-weight: 700;
}
.popup-content .nft .duration {
    color: #a89ec9;
}
.popup-content .nft .creator {
    display: flex;
    align-items: center;
    margin-top: 0.2rem;
    margin-bottom: -0.3rem;
    justify-content: center;
}
.popup-content .nft .creator .wrapper {
    display: flex;
    align-items: center;
    border: 1px solid #ffffff22;
    padding: 0.3rem;
    border-radius: 50%;
    box-shadow: inset 0 0 0 3px #00000066;
    margin-right: 0.5rem;
}
.popup-content .nft .creator img {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    object-fit: cover;
}