html {
  scroll-behavior: smooth;
}
.services-top{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  height: 10vh;
  margin-bottom: 2.5vh;
  text-align: center;
}
.services-title-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0;
  width: 85vw;
}
.divider-services{
  height: 1vh;
  width: 32.5vw;
  background-color: #0d3642;
  transition: 0.5s;
}
.services-top h1{
  font-size: clamp(2.5rem, 1.25vmin, 10vh);
  color: #0d3642;
  -webkit-text-stroke-width: clamp(0vw,0vw,0vw);
  text-transform: uppercase;
}
.services-top h1 span{
  -webkit-text-stroke-color: #0d3642;
  -webkit-text-stroke-width: clamp(0.0625vw,0.0875vw,0.75vw);
  color: #b7cf81;
}
.card {
  isolation: isolate;
}
.media-object {
  --border-width: 2px;
  --radius: 24px;
  position: relative;
  border-radius: var(--radius);
  border: var(--border-width) solid transparent;
}
.media-object::before {
  content: " ";
  position: absolute;
  inset: calc(var(--border-width) * -1);
  z-index: -1;
  border: inherit;
  border-radius: inherit;
  background-image: conic-gradient(from var(--angle), #0d3642 80%, #b7cf81 88%, #b7cf81 92%, #0d3642 100%);
  background-origin: border-box;
  -webkit-mask:
    linear-gradient(black, black) content-box,
    linear-gradient(black, black);  
  mask: linear-gradient(black, black),
        linear-gradient(black, black);
  -webkit-mask-clip: content-box, border-box;  
  mask-clip: content-box, border-box;
  -webkit-mask-composite: xor;  
  mask-composite: exclude;
  animation: spin 3s linear infinite;
}
@supports not (background: paint(something)) {
  .media-object::before {
background-image: conic-gradient(#381D6A 80%, #E0D1FF 88%, #E0D1FF 92%, #381D6A 100%);    
  }
}
@property --angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}
@keyframes spin {
  to {
    --angle: 1turn;
  }
}
.clicks{  
  height: auto;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
  font: 100%/1.6 'Open Sans', sans-serif;
}
.card-div-flex{
  width: 100%;
  display: flex;
}
.card-div-flex a{
  width: 50%;
}
.card-ser {
  --text-color: #fff;
  --text-color-2: #F3F8FA;
  --bg-color: #0d3642;
  --border-color: #145564;

  padding: 1px 50px 50px 50px;
  margin-top: 20vh;
  height: auto;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 32px;
  border-radius: 24px;
  color: var(--text-color);
  background: var(--bg-color);
  border: 1px solid var(--border-color);
  
  
}
.card-title {
  margin-block: 0;
  font-family: 'Sora', sans-serif;
  font-size: 33px;
  font-weight: 700;
  line-height: 44px;
}
mark {
  background: linear-gradient(270deg, #b7cf81 0%, #1d5e6d 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: #0000;
  --webkit-box-decoration-break: clone;
}
.card-description {
  color: var(--text-color-2);
  line-height: 24px;
  margin-block: 0;
}
.card-action {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;  
  margin-bottom: 5px;
}
.card-button {
    background-color: #0d364200;
    border-color: var(--bg-color);
    border-style: solid;
    color: var(--bg-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.25s;
    margin-bottom: 15px;
    display: block;
    padding: 16px 32px;
    border: 1px solid var(--border-color);
    border-radius: 15px;
    text-decoration: none;
    color: inherit;
    flex-grow: 1;
    text-align: center;
    line-height: 16px;
}
.card-button:hover{
  box-shadow: 1px 1px 10px #a2a2a2;
  background-color: #092831;
  border-radius: 25px;
  color: #fafafa;  
}
.services-btn {
  
  background-color: #0d364200;
  border-style: solid ;
  color: var(--bg-color);
  font-weight: 800;
  cursor: pointer;
  transition: 0.5s;
display: block;
padding: 16px 32px;
border: 1px solid var(--bg-color);
border-radius: 15px;
text-decoration: none;
color: var(--bg-color);
flex-grow: 1;
text-align: center;
line-height: 16px;
margin: 15px;
}
.services-btn:hover{
box-shadow: 1px 1px 10px #a2a2a2;
background-color: #092831;
border-radius: 25px;
color: #fafafa;  
}

.soon-btn { 
  position: relative;
  background-color: #0d364200;
  border-style: solid;
  color: var(--bg-color);
  font-weight: 800;
  cursor: pointer;
  transition: 0.5s;
  display: block;
  padding: 16px 32px;
  border: 1px solid var(--bg-color);
  border-radius: 15px;
  text-decoration: none;
  flex-grow: 1;
  text-align: center;
  line-height: 16px;
  margin: 15px;
}
.soon-btn::before {
  content: "Coming Soon";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 25px;
  background: #092831;
  transition: width 0.75s ease-in-out, opacity 0.75s ease-in-out;
  box-shadow: 1px 1px 10px #a2a2a2;
  color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  white-space: nowrap;
}
.soon-btn:hover::before {
  width: 100%;
  opacity: 1;
}
.soon-btn:hover { 
  box-shadow: 1px 1px 10px #a2a2a2;
  background-color: #0d364200;
  border-radius: 25px;
  color: #0d364200;
}
.media-object {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 24px;
  gap: 24px;
}
.media-object-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  margin: 0 0 16px;
}
.media-object-button {
  display: flex;
  align-items: center;
  width: 22.5%;
  height: 15px;
  min-width: 140px;
  gap: 8px;
  padding: 16px 38px 14px;
  border-radius: 28px;
  background: linear-gradient(270deg, #1d5e6d 0%, #b7cf81 100%);
  color: #fff;
  text-decoration: none;
  font-family: 'Sora', sans-serif;
  font-weight: 600;
  line-height: 16px;
  text-align: center;
  transition: 0.5s;
}
.media-object-button:hover {
  background: linear-gradient(270deg, #b7cf81 0%, #1d5e6d 100%);
  color: #000000;
}
.media-object-thumbnail {
  width: 280px;
  height: 160px;
  border-radius: 16px; 
}
.source-link {
  position: fixed;
  right: 32px;
  bottom: 32px;  
  width: fit-content;
  box-sizing: border-box;
  font-size: 16px;
  display: flex;
  padding: 0.75em 1em 0.75em 0.75em;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  border-radius: 128px;
  background: linear-gradient(270deg, #AFE8EF 0%, #E7E1FA 100%);
  color: #000;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-decoration: none;
}
.source-link svg {
  display: block;
  width: 1.5em;
  height: 1.5em;
  border-radius: 0.25em;
}
.source-link.source-link--second {
  right: auto;
  left: 32px;
}
.hidden {
  display: none;
}
#wcardContainer,#gcardContainer{
  scroll-margin-top: 115px;
}

.services-fig img {
  min-width: 275px;
  width: 30vw;
  aspect-ratio: 3 / 1.5;
  margin-top: -5vh;
  margin-bottom: 5vh;
  object-fit: cover;
  border-radius: 25px;
}
.arrows {
  scale: 0.6;
	width: 60px;
	height: auto;
	position: absolute;
	left: 50%;
  bottom: -4vh;
	margin-left: -30px;
}
.arrows path {
	stroke: var(--bg-color);
	fill: transparent;
  border-radius: 25px;
	stroke-width: 5px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}
@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}
@-webkit-keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}
.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s;
}
.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s;
}
.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s;
}

@media (max-width: 480px) {
  .services-top h1{
    font-size: clamp(1.5rem, 1.25vmin, 10vh);
  }
  .card-div-flex{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .card-div-flex a{
    width: auto;
  }
  .arrows {
    bottom: -2.5vh;
  }
}
@media (max-width: 300px) {
  .services-fig{
    display: none;
  }
  .arrows{
    display: none;
  }
}
