  /* Animiatios */
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  /* Root and carousel */
  :root{
    --bg-color : #0d3642;
    --bg-color-2nd : #145564;
    --alternate-color : #b7cf81;
    --light-bg : white;
    --dark-bg : black;
    --carousel-bg : #fff;
    --carousel-header : #333;
    --carousel-content : #666;
  }
  #services{
    padding-top: 12vh;
    height: auto;
    min-height: calc(var(--vh, 100vh) - 150px);
    transition: height 0.3s ease;
  }
  #services-carousel {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    padding: 7.5px;
    margin: 0px;
    background-color: var(--carousel-bg);
    border-radius: 25px;
    border-color: #0d3642;
    border-style: solid;
    box-shadow: 7.5px 7.5px 7.5px #0d3642c8;
    overflow: hidden;
  }
  #countainer-zone {
    background: var(--carousel-bg);
    flex: 1 1 250px;
    display: flex;
    flex-direction: column;
    padding: 7.5px;
  }
  .list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .list li {
    position: relative;
    margin-bottom: 7.5px;
  }
  .service-icon {
    height: auto;
    width: 5vw;
    margin-top: 5px;
    background-color: var(--bg-color);
    border-radius: 1.75vw;
    padding: 0.3vw;
  }
  .services-btn{
    background-color: #0d364200;
    width: 15%;
    min-width: 75px;
    min-height: 40px;
    border-radius: 10px;
    border-color: var(--bg-color);
    border-style: solid;
    color: var(--bg-color);
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
  }
  .services-btn:hover{
    background-color: var(--bg-color);
    border-radius: 42px;
    color: #fafafa;
  }

  .soon-btn { 
    position: relative;
    background-color: #0d364200;
    color: var(--bg-color);    
    border-radius: 10px;
    border-color: var(--bg-color);
    border-style: solid;
    width: 15%;
    min-width: 75px;
    min-height: 40px;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
  }
  .soon-btn::before {
    content: "Coming Soon";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 15px;
    background: var(--bg-color);
    transition: width 0.5s ease-in-out, opacity 0.5s ease-in-out;
    color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    white-space: nowrap;
  }
  .soon-btn:hover::before {
    width: 100%;
    opacity: 1;
  }
  .soon-btn:hover { 
    border-radius: 40px;
    color: #fafafa;
  }

  .list li input[type="radio"] {
    display: none;
  }
  .list li input[type="radio"] + label {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7.5px;
    background: #cfeef7;
    color: #000;
    border-radius: 7.5px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    opacity: 0.5;
    transition: all 0.5ms ease;
  } 
  .list li input[type="radio"] + label:hover {
    opacity: 0.75;
  }
  .list li input[type="radio"]:checked + label {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #cfeef7;
    border-left: 7.5px solid var(--bg-color);
    opacity: 1;
  }
  .list li .content {
    display: none;
    position: relative;
    background: var(--carousel-bg);
    padding: 7.5px;
    text-align: center;
    opacity: 0;
  }
  .list li input[type="radio"]:checked ~ .content {
    display: block;
    animation: fadeIn 0.5s forwards ease-in-out;
  }
  .list li input[type="radio"]:not(:checked) ~ .content {
    animation: fadeOut 0.5s forwards ease-in-out;
  }
  .list li .content h3 {
    margin: 7.5px 0;
    font-size: 18px;
    color: var(--carousel-header);
  }
  .list li .content p {
    font-size: 16px;
    color: var(--carousel-content);
  }
  
  /* Media Queries */
  @media (max-width: 768px) {
    #countainer-zone {
      flex: 1 1 100%;
      border: none;
    }
    .service-icon {
      height: auto;
      width: 10%;
      margin-top: 7.5px;
      background-color: var(--bg-color);
      border-radius: 2.75vw;
      padding: 0.5vw;
    }
    .services-btn , .soon-btn{
      width: 30%;
    }
  }
  @media (max-width: 480px) {
    .list li input[type="radio"] + label {
      font-size: 24px;
      font-weight: 500;
      padding: 10px;
    }
    .list li .content h3 {
      font-size: 22px;
    }
    .list li .content p {
      font-size: 20px;
    }
    .service-icon {
      height: auto;
      width: 20%;
      margin-top: 10px;
      background-color: var(--bg-color);
      border-radius: 5vw;
      padding: 1vw;
    }
    .services-btn , .soon-btn {
      width: 50%;
      font-size: 18px;
    }
  }
  @media (max-width: 900px) and (min-height: 700px){
    #services{
      transition: height 0.3s ease;
      height: calc(var(--vh, 100vh) - 150px);
    }
  }