  /* Animiatios */
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  /* Root and carousel */
  :root{
    --bg-color : #0d3642;
    --bg-color-2nd : #145564;
    --alternate-color : #b7cf81;
    --light-bg : white;
    --dark-bg : black;
    --carousel-bg : #fff;
    --carousel-header : #333;
    --carousel-content : #666;

  }
  #services{
    min-height: 100vh;
  }
  #services-carousel {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    padding: 10px;
    margin: 0px;
    background-color: var(--carousel-bg);
    border-radius: 25px;
    border-color: #0d364250;
    border-style: solid;
    overflow: hidden;
  }
  #countainer-zone {
    background: var(--carousel-bg);
    flex: 1 1 300px;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  .list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .list li {
    position: relative;
    margin-bottom: 10px;
  }
  .service-icon {
    height: auto;
    width: 7.5%;
    margin-top: 10px;
    background-color: var(--bg-color);
    border-radius: 2.25vw;
    padding: 0.5vw;
  }
  .services-btn{
    background-color: #0d364200;
    width: 7.5%;
    min-width: 75px;
    min-height: 40px;
    border-radius: 15px;
    border-color: var(--bg-color);
    border-style: solid;
    color: var(--bg-color);
    font-weight: 600;
    cursor: pointer;
    transition: 0.25s;
  }
  .services-btn:hover{
    background-color: var(--bg-color);
    border-radius: 15px;
    color: #fafafa;
  }
  .list li input[type="radio"] {
    display: none;
  }
  .list li input[type="radio"] + label {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12.5px;
    background: #e0e0e0;
    color: #000;
    border-radius: 7.5px;
    font-size: 22.5px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    opacity: 0.5;
    transition: all 0.0005ms ease;
  } 
  .list li input[type="radio"] + label:hover {
    opacity: 0.8;
  }
  .list li input[type="radio"]:checked + label {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #cfeef7;
    border-left: 7.5px solid var(--bg-color);
    opacity: 1;
  }
  .list li .content {
    display: none;
    position: relative;
    background: var(--carousel-bg);
    padding: 10px;
    text-align: center;
    opacity: 0;
  }
  .list li input[type="radio"]:checked ~ .content {
    display: block;
    animation: fadeIn 0.5s forwards ease-in-out;
  }
  .list li input[type="radio"]:not(:checked) ~ .content {
    animation: fadeOut 0.5s forwards ease-in-out;
  }
  .list li .content h3 {
    margin: 10px 0;
    font-size: 20px;
    color: var(--carousel-header);
  }
  .list li .content p {
    font-size: 17.5px;
    color: var(--carousel-content);
  }
  
  /* Media Queries */
  @media (max-width: 768px) {
    #services-carousel {
      flex-direction: column;
    }
  
    #countainer-zone {
      flex: 1 1 100%;
      border: none;
    }
    .service-icon {
      height: auto;
      width: 15%;
      margin-top: 10px;
      background-color: var(--bg-color);
      border-radius: 3.75vw;
      padding: 1vw;
    }
  }
  @media (max-width: 480px) {
    .list li input[type="radio"] + label {
      font-size: 17.5px;
      font-weight: 400;
      padding: 10px;
    }
  
    .list li .content h3 {
      font-size: 15px;
    }
  
    .list li .content p {
      font-size: 12.5px;
    }
    .service-icon {
      height: auto;
      width: 15%;
      margin-top: 10px;
      background-color: var(--bg-color);
      border-radius: 3.75vw;
      padding: 1vw;
    }
  }